<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movement</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-lua.min.js"></script>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Movement</h1>
    <p>Up, down, left, right, there's no limit to where turtles can go</p> 
    <br>
    <h2>Movement-specific functions:</h2>
    <h3>forward(), back(), up(), down()</h3>
    <p>Moves the turtle once in its respective direction</p>
    <br>
    <h3>turnLeft(), turnRight()</h3>
    <p>Turn 90 degrees in the respective direction</p>

    <%- sidebar %>

    <a href="https://tweaked.cc/module/turtle.html" target="_blank">Click here to learn more on tweaked.cc</a>
  </div>

<script>
  function copyText() {
      const parentElement = document.getElementById('toCopy');
      let textToCopy = '';

      for (let i = 0; i < parentElement.childNodes.length; i++) {
          const child = parentElement.childNodes[i];

          textToCopy += child.textContent;
      }

      navigator.clipboard.writeText(textToCopy)
          .then(function() {
              const button = document.getElementById('lua-copy-image')
              button.src = '/img/check.png'
              button.style.height = '25px'
          })
          .catch(function(error) {
              console.error('Unable to copy text to clipboard:', error);
          });
  }
</script>
</body>
</html>
