<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crafting</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-lua.min.js"></script>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Crafting</h1>
    <p>Crafting with turtles is relatively easy. There are just a few things that you have to know.</p>
    <p>1. Crafting with turtles requires you to have a crafting table equipped in one of the slots of the turtles</p>
    <p>2. To craft an item, you must have all ingredients in a 3x3 in slots 1-3, 5-7, and 9-11 and no other ingredients in any other slot. The diagram below shows a valid setup</p>
    <img src="/img/craft_diagram.png" class="image-diagram" alt="Crafting image" onclick="copyText()">
    <p>Calling "turtle.craft()" here would put a diamond sword in slot 1</p>
    <br>

    <%- sidebar %>

    <a href="https://tweaked.cc/module/turtle.html" target="_blank">Click here to learn more on tweaked.cc</a>
  </div>

<script>
  function copyText() {
      const parentElement = document.getElementById('toCopy');
      let textToCopy = '';

      for (let i = 0; i < parentElement.childNodes.length; i++) {
          const child = parentElement.childNodes[i];

          textToCopy += child.textContent;
      }

      navigator.clipboard.writeText(textToCopy)
          .then(function() {
              const button = document.getElementById('lua-copy-image')
              button.src = '/img/check.png'
              button.style.height = '25px'
          })
          .catch(function(error) {
              console.error('Unable to copy text to clipboard:', error);
          });
  }
</script>
</body>
</html>
