@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  font-family: 'Source Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #262626;
  color: #dccbcb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  background-color: #1b1a1a;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
p {
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0;
}
